<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.waq.employment_platform_serve.mapper.JobMapper">
    <!--    通过companyId查询工作信息-->
    <select id="findByCompanyId" resultType="com.waq.employment_platform_serve.entity.Job">
        SELECT
            id companyId,
            job_id id,
            name ,
            duty,
            request,
            location,
            account,
            start_date startDate,
            end_date endDate,
            tag

        from v_company_job
        <where>
            id = #{companyId}
        </where>
    </select>
<!--    新发布工作-->
    <insert id="addJob">
        insert into job(
            company_id,
            name,
            duty,
            request,
            location,
            account,
            start_date,
            end_date
        )values (
                    #{companyId},
                    #{name},
                    #{duty},
                    #{request},
                    #{location},
                    #{account},
                    #{startDate},
                    #{endDate}
                )
    </insert>
<!--    修改工作信息-->
    <update id="updateJob">
        update job
        <set>
            <if test="duty != null and duty !=''">
                duty = #{duty},
            </if>
            <if test="request != null and request !=''">
                request = #{request},
            </if>
            <if test="location != null and location !=''">
                location = #{location},
            </if>
            <if test="account != null and account != ''">
                account = #{account},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>
</mapper>
