<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.waq.employment_platform_serve.mapper.ResumestateMapper">
<!--    更新投递状态-->
    <insert id="addState" useGeneratedKeys="true" keyProperty="id">
        insert into resumestate(
            state,
            resumebox_id,
            operate_date
        )values (
                 #{state},
                 #{resumeboxId},
                 #{operateDate}
                        )
    </insert>
</mapper>
