<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.waq.employment_platform_serve.mapper.WageMapper">
    <select id="getWage" resultType="com.waq.employment_platform_serve.entity.Wage">
        SELECT * from wage
        <where>
            company_id = #{companyId}
        </where>
    </select>

    <insert id="shareWage">
        insert into wage(
            company_id,
            company_name,
            job_name,
            account,
            submit_date
        )values (
            #{companyId},
            #{companyName},
            #{jobName},
            #{account},
            #{submitDate}
                        )
    </insert>
</mapper>
